.container-coin{
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
flex-flow: column;
}

img{
  height: 50%;
  border-radius: 50%;

  box-shadow: 11px 10px 15px -9px rgba(0,0,0,0.69);
  -webkit-box-shadow: 11px 10px 15px -9px rgba(0,0,0,0.69);
  -moz-box-shadow: 11px 10px 15px -9px rgba(0,0,0,0.69);
}

.btn {
  cursor: pointer;
}
